<template>
  <div class="intro">
    <div class="container mx-auto h-full px-4 flex flex-col justify-center text-white">
      <h2 class="text-4xl font-bold mb-4">Sistem Informasi<br> Pengolahan Data dan Penanaman Modal</h2>
      <p>Merupakan sistem informasi yang dikelola oleh Pemerintah Provinsi Kalimantan Utara<br> yang berfungsi sebagai sistem pengolahan data dan penanaman modal.</p>
    </div>
  </div>
</template>

<style>
.intro {
  background: url('../../../img/welcome-2.jpg');
  height: 500px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.75);
}
</style>
