<template>
  <header class="site-header">
    <div class="container mx-auto px-4 h-24 flex justify-between items-center">
      <router-link :to="{ name: 'index' }">
        <img
          src="../../../img/logo.png"
          class="logo h-16"
        />
      </router-link>
      <div class="flex items-center">
        <ul class="flex">
          <li
            v-for="menu in menus"
            :key="menu.to"
            class="mr-10"
          >
            <router-link :to="{ name: menu.to }">
              {{ menu.text }}
            </router-link>
          </li>
        </ul>
        <a
          href="/#/login"
          target="_blank"
          class="login-button rounded text-white py-1 px-6"
        >
          Masuk
        </a>
      </div>
    </div>
  </header>
</template>

<script>
export default {
  data () {
    return {
      menus: [
        {
          to: 'tutorial',
          text: 'Tutorial'
        },
        {
          to: 'contact',
          text: 'Hubungi Kami'
        }
      ]
    }
  }
}
</script>

<style scoped>
.login-button {
  background: #2F318B;
}
</style>
