<template>
  <footer class="site-footer bg-gray-900 text-white">
    <div class="container mx-auto flex py-8">
      <div class="w-1/2 px-4">
        <img
          src="../../../img/logo.png"
          class="logo h-10 mb-4"
        />
        <h2 class="text-xl font-bold mb-4">Sistem Informasi Pengolahan Data dan Penanaman Modal</h2>
        <p>Merupakan sistem informasi yang dikelola oleh Pemerintah Provinsi Kalimantan Utara
yang berfungsi sebagai sistem pengolahan data dan penanaman modal.</p>
      </div>
      <div class="w-1/4 px-4">
        <h2 class="text-xl font-bold mb-4">Hubungi Kami</h2>
        <table>
          <tbody>
            <tr>
              <td class="p-2"><i class="fa fa-map-marker" /></td>
              <td class="p-2">Jl. Rambutan Gedung Gabungan Dinas II (Lantai 1) Tanjung Selor, Provinsi Kalimantan Utara</td>
            </tr>
            <tr>
              <td class="p-2"><i class="fa fa-envelope" /></td>
              <td class="p-2">bpmdptprov.kaltara@gmail.com</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="w-1/4 px-4">
        <h2 class="text-xl font-bold mb-4">Jam Pelayanan</h2>
        <table>
          <tbody>
            <tr>
              <td class="p-2">Senin-Kamis</td>
              <td class="p-2">:</td>
              <td class="p-2">08.00 - 16.00 WITA</td>
            </tr>
            <tr>
              <td class="p-2">Jumat</td>
              <td class="p-2">:</td>
              <td class="p-2">08.00 - 11.30 WITA</td>
            </tr>
            <tr>
              <td class="p-2">Sabtu-Minggu</td>
              <td class="p-2">:</td>
              <td class="p-2">Libur</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </footer>
</template>

<script>
export default {

}
</script>

<style>

</style>