<template>
  <v-app :class="bodyClass">
    <v-navigation-drawer
      v-if="!isLoginPage"
      app
      fixed
      clipped
      v-model="drawer"
    >
      <v-list>
        <v-list-group
          v-for="menu in menus"
          :key="menu.id"
        >
          <v-list-tile
            slot="item"
            @click="$router.push({ name: menu.to })"
          >
            <v-list-tile-action>
              <v-icon
                v-html="menu.icon"
                class="grey--text text--darken-2"
              />
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title
                v-html="menu.text"
                class="grey--text text--darken-2"
              />
            </v-list-tile-content>
            <v-list-tile-action v-if="hasSubMenus(menu)">
              <v-icon>keyboard_arrow_down</v-icon>
            </v-list-tile-action>
          </v-list-tile>
          <v-list-tile
            v-for="subMenu in menu.subMenus"
            :key="subMenu.id"
            @click="$router.push({ name: subMenu.to })"
          >
            <v-list-tile-content v-html="subMenu.text" />
          </v-list-tile>
        </v-list-group>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar
      v-if="!isLoginPage"
      app
      dark
      fixed
      clipped-left
      class="blue darken-3"
    >
      <v-toolbar-side-icon
        @click.stop="drawer = !drawer"
      />
      <v-toolbar-title ml-0>
        <img
          class="site-logo"
          src="../../img/logo.png"
        />
      </v-toolbar-title>
      <v-spacer />
      <v-menu
        open-on-hover
        bottom
        offset-y
      >
        <v-btn
          flat
          slot="activator"
        >
          <v-icon class="mr-2">account_box</v-icon>
          {{ fullName }}
        </v-btn>
        <v-list>
          <v-list-tile @click="logoutHandler">
            <v-list-tile-content>
              <v-list-tile-title>Keluar</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-menu>
    </v-toolbar>
    <v-content>
      <v-container
        fluid
        fill-height
      >
        <slot />
      </v-container>
    </v-content>
    <v-footer
      v-if="!isLoginPage"
      app
    >
      <v-spacer />
      <span class="copyright">
        &copy; Dinas Penanaman Modal dan Pelayanan Terpadu Satu Pintu Kalimantan Utara
      </span>
    </v-footer>
  </v-app>
</template>

<script>
import { mapGetters } from 'vuex';
import Auth from '../services/Auth';

export default {
  data: () => ({
    drawer: true,
    menus: [
      { id: 6, to: 'dashboard', icon: 'dashboard', text: 'Beranda' },      
      {
        id: 2,
        to: null,
        icon: 'assignment',
        text: 'Data Perusahaan',
        subMenus: [
          { id: 4, to: 'reports.permission_report_create', text: 'Input Perusahaan' },
          { id: 3, to: 'reports.permission_report_index', text: 'Daftar Perusahaan' },
        ],
      },
      {
        id: 5,
        to: null,
        icon: 'assignment',
        text: 'LKPM',
        subMenus: [
          { id: 4, to: 'reports.activity_report_create', text: 'Input LKPM' },
          { id: 3, to: 'reports.activity_report_index', text: 'Daftar LKPM' },
        ],
      },
      { id: 1, to: 'reports.generator', icon: 'assessment', text: 'Ekspor Laporan' },
    ],
  }),

  computed: {
    ...mapGetters({
      fullName: 'LoggedUser/fullName',
    }),

    isLoginPage() {
      return this.$route.name === 'login'
        || this.$route.name === 'index'
        || this.$route.name === 'tutorial'
        || this.$route.name === 'contact';
    },

    bodyClass() {
      return '';
    },
  },

  methods: {
    logoutHandler() {
      Auth.clearJwt();
      this.$router.push({ name: 'index' });
    },

    hasSubMenus(menu) {
      return typeof menu.subMenus !== 'undefined' && menu.subMenus.length > 0;
    },
  },
};
</script>

<style>
@import '../../../../node_modules/vuetify/dist/vuetify.css';
@import '../../sass/app.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons');

.site-logo {
  height: 48px;
  margin-top: 10px;
}

.copyright a {
  text-decoration: none;
}
</style>
