<template>
  <div>
    <site-header />
    <site-intro />
    <div class="welcome">
      <div class="container mx-auto px-4 py-12">
        <h2 class="text-2xl mb-8">Sambutan Kepala DPMPTSP Provinsi Kalimantan Utara</h2>
        <div class="flex">
          <img src="../../../../img/welcome.png" />
          <div class="pl-10">
            <p class="mb-4">Website ini dimaksudkan sebagai sarana publikasi untuk memberikan Informasi dan gambaran terhadap pelayanan publik pada Dinas Penanaman Modal dan Pelayananan Terpadu Satu Pintu Provinsi Kalimantan Utara.</p>
            <p class="mb-4">Diharapkan melalui website ini kiranya masyarakat dapat mengetahui seluruh informasi tentang Kebijakan Pemerintah Provinsi Kalimantan Utara dalam urusan penanaman modal dan pelayanan perizinan dan non perizinan di wilayah Provinsi Kalimantan Utara.</p>
            <p class="mb-4">Kritik dan saran kami harapkan untuk penyempurnaan Website maupun peningkatan kinerja pelayanan publik Dinas Penanaman Modal dan Pelayanan Terpadu Satu Pintu Provinsi Kalimantan Utara dimasa mendatang. Semoga memberikan manfaat bagi kita semua.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="triple">
      <div class="container mx-auto h-48 flex justify-around items-center">
        <div class="text-center">
          <a href="https://dpmptsp.kaltaraprov.go.id" target="_blank">
            <img
              src="../../../../img/logo-dpmptsp.png"
              class="mb-2"
            />
          </a>
        </div>
      </div>
    </div>
    <yearly-investment />
    <regency-investment />
    <site-footer class="mt-32" />
  </div>
</template>

<script>
import SiteHeader from '../SiteHeader'
import SiteIntro from '../SiteIntro'
import SiteFooter from '../SiteFooter'
import YearlyInvestment from './YearlyInvestment'
import RegencyInvestment from './RegencyInvestment'

export default {
  components: {
    SiteHeader,
    SiteIntro,
    SiteFooter,
    YearlyInvestment,
    RegencyInvestment
  }
}
</script>

<style>
@import url('https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css');

.triple {
  /* background: rgba(0, 143, 215, 0.49); */
}
</style>
