<template>
  <div class="regency-investment">
    <div class="container mx-auto px-4 py-12">
      <h2 class="text-2xl mb-4">Investasi per Kabupaten</h2>
      <div class="flex justify-end items-center mb-2">
        <label class="mr-2">Tahun</label>
        <select
          v-model="selectedYear"
          class="p-2 rounded bg-white border"
          @change="fetchRegencyInvestmentData"
        >
          <option
            v-for="year in years"
            :key="year"
            :value="year"
          >
            {{ year }}
          </option>
        </select>
      </div>
      <table class="regency-investment-table w-full table-auto border-collapse shadow-md">
        <thead>
          <tr>
            <th class="p-4 text-lg text-white">Daerah</th>
            <th class="p-4 text-lg text-white text-right">Nominal</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="data in regencyInvestment"
            :key="data.regency"
          >
            <td class="p-4">{{ data.regency }}</td>
            <td class="p-4 text-right">{{ data.value | rupiah }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import day from 'dayjs'
import axios from 'axios'
import { rupiah } from '../../../lib/currency'

export default {
  filters: {
    rupiah
  },

  data () {
    return {
      selectedYear: day().year(),
      regencyInvestment: []
    }
  },

  computed: {
    years () {
      const now = day().year()

      return [
        now,
        now - 1,
        now - 2
      ]
    }
  },

  methods: {
    async fetchRegencyInvestmentData () {
      console.log('Test')
      const res = await axios.post(`/api/v2/stats/cities?year=${this.selectedYear}`)

      this.regencyInvestment = Object.keys(res.data).map(item => ({
        regency: item,
        value: res.data[item]
      }))
    }
  },

  async mounted () {
    await this.fetchRegencyInvestmentData()
  }
}
</script>

<style>
.regency-investment-table thead tr th {
  background: #008FD7;
}

.regency-investment-table tbody tr td {
  border-bottom: 1px solid #ddd;
}
</style>
