<template>
  <div class="yearly-investment">
    <div class="container mx-auto px-4 py-12">
      <h2 class="text-2xl mb-8">Total Investasi di Provinsi Kalimantan Utara</h2>
      <canvas id="yearly-investment-chart" />
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import Chart from 'chart.js'
import currency from 'currency.js'

export default {
  data () {
    return {
      chart: null
    }
  },

  methods: {
    async fetchYearlyInvestmentData () {
      const res = await axios.post('/api/v2/stats/yearly')

      const result = {
        labels: [],
        data: []
      }

      return Object.keys(res.data).reduce((carry, current) => ({
        ...carry,
        labels: [
          ...carry.labels,
          current
        ],
        data: [
          ...carry.data,
          parseInt(res.data[current] / 1000000000, 10)
        ]
      }), result)
    }
  },

  async mounted () {
    const { labels, data } = await this.fetchYearlyInvestmentData()

    const ctx = document.getElementById('yearly-investment-chart')

    this.chart = new Chart(ctx, {
      type: 'line',
      data: {
        labels,
        datasets: [
          {
            label: 'Investasi dalam Milyar Rupiah',
            data,
            fill: false,
            lineTension: 0.2,
            borderColor: 'rgb(0, 143, 215)',
          }
        ]
      },
      options: {
        legend: {
          labels: {
            fontSize: 16
          }
        },
        tooltips: {
          titleFontSize: 16,
          bodyFontSize: 16,
          callbacks: {
            label: function(tooltipItem, data) {
              const value = currency(tooltipItem.value, {
                separator: '.',
                precision: 0
              }).format()

              return `Total Investasi = Rp${value}M`
            }
          }
        }
      }
    })
  },

  destroyed () {
    this.chart = null
  }
}
</script>

<style>

</style>
