<template>
  <div>
    <site-header />
    <site-intro />
    <div class="contact">
      <div class="container mx-auto px-4 py-12">
        <div class="flex">
          <div class="w-1/2">
            <h2 class="text-2xl mb-8">Hubungi Kami</h2>
            <table class="mb-8">
              <tbody>
                <tr>
                  <td class="p-2"><i class="fa fa-map-marker" /></td>
                  <td class="p-2">Jl. Rambutan Gedung Gabungan Dinas II (Lantai 1) Tanjung Selor, Provinsi Kalimantan Utara</td>
                </tr>
                <tr>
                  <td class="p-2"><i class="fa fa-envelope" /></td>
                  <td class="p-2">bpmdptprov.kaltara@gmail.com</td>
                </tr>
              </tbody>
            </table>

            <h2 class="text-2xl mb-8">Jam Pelayanan</h2>
            <table>
              <tbody>
                <tr>
                  <td class="p-2">Senin-Kamis</td>
                  <td class="p-2">:</td>
                  <td class="p-2">08.00 - 16.00 WITA</td>
                </tr>
                <tr>
                  <td class="p-2">Jumat</td>
                  <td class="p-2">:</td>
                  <td class="p-2">08.00 - 11.30 WITA</td>
                </tr>
                <tr>
                  <td class="p-2">Sabtu-Minggu</td>
                  <td class="p-2">:</td>
                  <td class="p-2">Libur</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="w-1/2">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15939.626305479072!2d117.3737104!3d2.8433053!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x495a305eea0b6caa!2sKantor%20Gabungan%20Dinas%20Provinsi%20Kaltara!5e0!3m2!1sen!2sid!4v1603531654331!5m2!1sen!2sid" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          </div>
        </div>
      </div>
    </div>
    <site-footer class="mt-32" />
  </div>
</template>

<script>
import SiteHeader from '../SiteHeader'
import SiteIntro from '../SiteIntro'
import SiteFooter from '../SiteFooter'

export default {
  components: {
    SiteHeader,
    SiteIntro,
    SiteFooter
  }
}
</script>

<style>
@import url('https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css');
</style>
