<template>
  <form role="form">
    <v-select
      label="Jenis Laporan"
      v-model="value.report_type_id"
      :items="reportTypes"
      item-value="id"
      item-text="name"
    />
    <v-text-field
      label="Tahun"
      v-model="value.year"
    />
    <v-select
      label="Triwulan"
      v-model="value.quarter"
      :items="quarters"
      item-value="id"
      item-text="name"
    />
    <v-select
      label="Bulan"
      v-model="value.month"
      :items="months"
      item-value="id"
      item-text="name"
    />
    <v-select
      label="Kota/Kabupaten"
      v-model="value.city_id"
      :items="normalizedCities"
      item-value="id"
      item-text="name"
    />
    <v-select
      label="Sektor"
      v-model="value.sector_id"
      :items="normalizedSectors"
      item-value="id"
      item-text="name"
      autocomplete
    />
    <v-btn
      @click="preSubmitHandler"
      color="primary"
      block
      large
    >
      Proses
    </v-btn>
  </form>
</template>

<script>
import { mapState } from 'vuex'

export default {
  props: {
    value: {
      type: Object,
      required: true,
    },

    cities: {
      type: Array,
      required: true,
    },

    sectors: {
      type: Array,
      required: true,
    },

    onSubmit: {
      type: Function,
      required: true,
    },
  },

  computed: {
    ...mapState({
      roleId: ({ LoggedUser }) => LoggedUser.data.role_id
    }),

    reportTypes() {
      return [
        { id: 1, name: 'Data Perusahaan' },
        // { id: 2, name: 'Realisasi Investasi' },
        { id: 3, name: 'LKPM' },
      ];
    },

    quarters() {
      return [
        { id: 0, name: 'Semua' },
        { id: 1, name: 'Triwulan I' },
        { id: 2, name: 'Triwulan II' },
        { id: 3, name: 'Triwulan III' },
        { id: 4, name: 'Triwulan IV' },
      ];
    },

    months() {
      return [
        { id: 1, name: 'Januari' },
        { id: 2, name: 'Februari' },
        { id: 3, name: 'Maret' },
        { id: 4, name: 'April' },
        { id: 5, name: 'Mei' },
        { id: 6, name: 'Juni' },
        { id: 7, name: 'Juli' },
        { id: 8, name: 'Agustus' },
        { id: 9, name: 'September' },
        { id: 10, name: 'Oktober' },
        { id: 11, name: 'November' },
        { id: 12, name: 'Desember' },
      ];
    },

    normalizedCities() {
      const cities = [...this.cities,];

      if (this.roleId === 1) {
        return [
          { id: 0, name: 'Semua' },
          ...cities,
        ];
      }

      return cities
    },

    normalizedSectors() {
      return [
        { id: 0, name: 'Semua' },
        ...this.sectors,
      ];
    },
  },

  watch: {
    value: {
      deep: true,
      handler(val) {
        this.$emit('input', val);
      },
    },

    'value.quarter': {
      handler(val) {
        if (!val) return

        this.$emit('input', {
          ...this.value,
          month: 0,
        });
      }
    },

    'value.month': {
      handler(val) {
        if (!val) return

        this.$emit('input', {
          ...this.value,
          quarter: 0,
        });
      }
    }
  },

  methods: {
    preSubmitHandler(e) {
      e.preventDefault();
      this.onSubmit();
    },
  },
};
</script>
