<template>
  <canvas
    ref="ctx"
    width="100%"
    height="30"
  />
</template>

<script>
import Chart from 'chart.js';

export default {
  props: {
    labels: {
      type: Array,
      required: true,
    },
    datasets: {
      type: Array,
      required: true,
    },
  },

  data: () => ({
    chart: null,
  }),

  computed: {
    chartData() {
      const { labels } = this;
      const data = this.datasets[1];

      return {
        labels,
        datasets: [
          {
            data,
            backgroundColor: '#87D37C',
          },
        ],
      };
    },
  },

  methods: {
    initChart() {
      Chart.defaults.global.legend.display = false;

      const ctx = this.$refs.ctx.getContext('2d');

      this.chart = new Chart(ctx, {
        type: 'bar',
        data: this.chartData,
      });
    },
  },

  mounted() {
    this.initChart();
  },
};
</script>
