<template>
  <v-data-table
    :headers="headers"
    :items="items"
  >
    <template
      slot="items"
      slot-scope="props"
    >
      <td v-html="props.item.company_name" />
      <td v-html="props.item.permit_number" />      
      <td v-html="props.item.sector.name" />
      <td
        class="text-xs-right"
        v-html="props.item.total"
      />
    </template>
  </v-data-table>
</template>

<script>
export default {
  props: {
    items: {
      type: Array,
      required: true,
    },
  },

  data: () => ({
    headers: [
      { text: 'Perusahaan', align: 'left', sortable: true, value: 'company_name' },
      { text: 'No. Izin', align: 'left', sortable: true, value: 'sector.permit_number' },      
      { text: 'Sektor', align: 'left', sortable: true, value: 'sector.name' },
      { text: 'Total', align: 'right', sortable: true, value: 'amount_of_investment' },
    ],
  }),
};
</script>
