<template>
  <vuetify-wrapper>
    <v-layout>
      <v-flex
        md9
        pr-2
      >
        <v-progress-linear
          v-if="loading"
          :indeterminate="loading"
        />
        <v-card
          v-if="processed && !loading"
          class="mb-4"
        >
          <v-card-text>
            <report-general-stats
              :total="reportData.total"
              :rows="reportData.rows"
            />
          </v-card-text>
        </v-card>
        <v-card
          v-if="processed && !loading"
          class="mb-4"
        >
          <v-card-title>
            <v-spacer />
            <a
              :href="exportLink"
              target="_blank"
              class="btn primary small"
            >
              Export
            </a>
          </v-card-title>
          <v-card-text>
            <report-chart
              :labels="reportChart.labels"
              :datasets="reportChart.datasets"
            />
          </v-card-text>
        </v-card>
        <v-card
          v-if="processed"
        >
          <report-table
            :items="reportData.items"
          />
        </v-card>
      </v-flex>
      <v-flex
        md3
        pl-3
      >
        <v-card>
          <v-card-text>
            <report-control
              v-model="reportControl"
              :cities="cities"
              :sectors="sectors"
              :on-submit="generateReportHandler"
            />
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </vuetify-wrapper>
</template>

<script>
import moment from 'moment';
import numeral from 'numeral';
import Auth from '../../services/Auth';
import Http from '../../services/Http';
import ReportControl from './ReportControl';
import ReportGeneralStats from './ReportGeneralStats';
import ReportTable from './ReportTable';
import ReportChart from './ReportChart';
import VuetifyWrapper from '../VuetifyWrapper'

export default {
  components: {
    ReportControl,
    ReportGeneralStats,
    ReportTable,
    ReportChart,
    VuetifyWrapper
  },

  data: () => ({
    loading: true,
    processed: false,
    cities: [],
    sectors: [],
    reportControl: {
      report_type_id: 1,
      year: moment().format('YYYY'),
      quarter: 0,
      city_id: 0,
      sector_id: 0,
      month: 0,
    },
    reportData: {
      rows: 0,
      total: 0,
      data: [],
    },
    reportChart: {
      labels: [],
      datasets: [],
    },
  }),

  computed: {
    exportLink() {
      let baseUrl = `http://${window.location.host}`;
      const {
        report_type_id,
        year,
        quarter,
        city_id,
        sector_id,
        month,
      } = this.reportControl;

      if (
        report_type_id === 1 ||
        report_type_id === 2
      ) {
        baseUrl = baseUrl + '/files/permission'
          + `?report_type_id=${report_type_id}`
          + `&year=${year}`;
      } else {
        baseUrl = baseUrl + '/files/activity' + `?year=${year}`;
      }

      baseUrl = baseUrl + `&token=${Auth.getJwt()}`;

      if (quarter) {
        baseUrl = baseUrl + `&quarter=${quarter}`;
      }

      if (city_id) {
        baseUrl = baseUrl + `&city_id=${city_id}`;
      }

      if (sector_id) {
        baseUrl = baseUrl + `&sector_id=${sector_id}`;
      }

      if (month) {
        baseUrl = baseUrl + `&month=${month}`;
      }

      return baseUrl;
    },
  },

  methods: {
    fetchCitiesHandler() {
      return new Promise((resolve, reject) => {
        const successCallback = (res) => {
          resolve(res.data);
        };

        const errorCallback = (err) => {
          reject(err);
        };

        Http.get('cities', successCallback, errorCallback);
      });
    },

    fetchSectorsHandler() {
      return new Promise((resolve, reject) => {
        const successCallback = (res) => {
          resolve(res.data);
        };

        const errorCallback = (err) => {
          reject(err);
        };

        Http.get('sectors', successCallback, errorCallback);
      });
    },

    fetchPermissionReport(
      report_type_id,
      year,
      quarter,
      city_id,
      sector_id,
      month,
    ) {
      return new Promise((resolve, reject) => {
        const payload = {
          report_type_id,
          year,
          quarter,
          city_id,
          sector_id,
          month,
        };

        const successCallback = (res) => {
          resolve(res.data);
        };

        const errorCallback = (err) => {
          reject(err);
        };

        Http.post('stats/permission', payload, successCallback, errorCallback);
      });
    },

    fetchPermissionReportChart(
      report_type_id,
      year,
      quarter,
      city_id,
      sector_id,
      month,
    ) {
      return new Promise((resolve, reject) => {
        const payload = {
          report_type_id,
          year,
          quarter,
          city_id,
          sector_id,
          month,
        };

        const successCallback = (res) => {
          resolve(res.data);
        };

        const errorCallback = (err) => {
          reject(err);
        };

        Http.post('stats/permission/chart', payload, successCallback, errorCallback);
      });
    },

    fetchActivityReport(
      year,
      quarter,
      city_id,
      sector_id,
      month,
    ) {
      return new Promise((resolve, reject) => {
        const payload = {
          year,
          quarter,
          city_id,
          sector_id,
          month,
        };

        const successCallback = (res) => {
          resolve(res.data);
        };

        const errorCallback = (err) => {
          reject(err);
        };

        Http.post('stats/activity', payload, successCallback, errorCallback);
      });
    },

    fetchActivityReportChart(
      year,
      quarter,
      city_id,
      sector_id,
      month,
    ) {
      return new Promise((resolve, reject) => {
        const payload = {
          year,
          quarter,
          city_id,
          sector_id,
          month,
        };

        const successCallback = (res) => {
          resolve(res.data);
        };

        const errorCallback = (err) => {
          reject(err);
        };

        Http.post('stats/activity/chart', payload, successCallback, errorCallback);
      });
    },

    async generateReportHandler() {
      const {
        report_type_id,
        year,
        quarter,
        city_id,
        sector_id,
        month,
      } = this.reportControl;

      this.processed = false;
      this.loading = true;

      if (report_type_id === 1 || report_type_id === 2) {
        this.reportData = await this.fetchPermissionReport(
          report_type_id,
          year,
          quarter,
          city_id,
          sector_id,
          month,
        );
        this.reportData.items.map((item) => {
          item.total = `Rp ${numeral(item.amount_of_investment).format('0,0')}`;
          item.permit_number = item.principle_permit_number !== null
            ? item.principle_permit_number
            : item.business_pernit_number;
        });

        this.reportChart = await this.fetchPermissionReportChart(
          report_type_id,
          year, quarter,
          city_id,
          sector_id,
          month,
        );

        this.reportChart.datasets = [
          [...this.reportChart.items.map(item => item[0])],
          [...this.reportChart.items.map(item => item[1])],
        ];
      } else {
        this.reportData = await this.fetchActivityReport(
          year,
          quarter,
          city_id,
          sector_id,
          month,
        );
        this.reportData.items.map((item) => {
          item.total = `Rp ${numeral(item.total_realization).format('0,0')}`;
        });

        this.reportChart = await this.fetchActivityReportChart(
          year, quarter,
          city_id,
          sector_id,
          month,
        );

        this.reportChart.datasets = [
          [...this.reportChart.items.map(item => item[0])],
          [...this.reportChart.items.map(item => item[1])],
        ];
      }

      this.loading = false;
      this.processed = true;
    },
  },

  async mounted() {
    this.loading = true;
    this.cities = await this.fetchCitiesHandler();
    this.sectors = await this.fetchSectorsHandler();
    this.loading = false;
  },
};
</script>
