<template>
  <vuetify-wrapper>
    <v-layout>
      <v-flex md6>
        <span class="label">Total</span>
        <span
          class="context"
          v-html="formattedTotal"
        />
      </v-flex>
      <v-flex md6>
        <span class="label">Jumlah Data</span>
        <span
          class="context"
          v-html="formattedRows"
        />
      </v-flex>
    </v-layout>
  </vuetify-wrapper>
</template>

<script>
import numeral from 'numeral';
import VuetifyWrapper from '../VuetifyWrapper'

export default {
  props: {
    total: {
      type: Number,
      required: true,
    },
    rows: {
      type: Number,
      required: true,
    },
  },
  
  components: {
    VuetifyWrapper
  },

  computed: {
    formattedTotal() {
      const formatted = numeral(this.total).format('0,0');

      return `Rp ${formatted}`;
    },

    formattedRows() {
      return `${this.rows} data`;
    },
  },
};
</script>

<style>
.label {
  display: block;
  font-weight: bold;
  font-size: 12px;
  color: #666;
  text-align: center;
}

.context {
  display: block;
  font-size: 26px;
  text-align: center;
}
</style>
