<template>
  <vuetify-wrapper>
    <v-layout>
      <v-flex md12>
        <v-progress-linear
          v-if="loading"
          indeterminate
        />
        <v-card v-if="!loading">
          <v-card-title>
            <h3 class="primary-title">DAFTAR LAPORAN LKPM</h3>
            <v-spacer />
            <v-text-field
              append-icon="search"
              label="Pencarian"
              single-line
              hide-details
              v-model="keywords"
            />
          </v-card-title>
          <v-data-table
            :headers="tableHeaders"
            :items="activityReports"
            :search="keywords"
          >
            <template
              slot="items"
              slot-scope="props"
            >
              <td v-html="props.item.company_name" />
              <td
                v-html="props.item.quarter"
                class="text-xs-center"
              />
              <td
                v-html="props.item.year"
                class="text-xs-center"
              />
              <td v-html="props.item.sector.name" />
              <td class="text-xs-right">
                <v-btn
                  v-if="!props.item.approver_user_id && loggedUser.id === 1"
                  @click="verifyActivityReportHandler(props.item.id)"
                  color="primary"
                  small
                >
                  Verifikasi
                </v-btn>
                <v-btn
                  @click="redirectToEditPage(props.item.id)"
                  color="primary"
                  small
                >
                  Edit
                </v-btn>
                <v-btn
                  @click="deleteActivityReportHandler(props.item.id)"
                  color="red"
                  dark
                  small
                >
                  Hapus
                </v-btn>
              </td>
            </template>
          </v-data-table>
        </v-card>
      </v-flex>
    </v-layout>
  </vuetify-wrapper>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import swal from 'sweetalert';
import VuetifyWrapper from '../VuetifyWrapper'

export default {
  components: {
    VuetifyWrapper
  },

  data: () => ({
    loading: true,
    keywords: null,
    tableHeaders: [
      { text: 'Perusahaan', align: 'left', sortable: true, value: 'company_name' },
      { text: 'Triwulan', align: 'center', sortable: true, value: 'quarter' },
      { text: 'Tahun', align: 'center', sortable: true, value: 'year' },
      { text: 'Sektor', align: 'left', sortable: true, value: 'sector.name' },
      { text: 'Tindakan', align: 'right', sortable: false, value: null },
    ],
  }),

  computed: {
    ...mapState({
      loggedUser: state => state.LoggedUser.data,
      activityReports: state => state.ActivityReport.data,
    }),
  },

  methods: {
    ...mapActions({
      fetchActivityReports: 'ActivityReport/fetchAll',
      deleteActivityReport: 'ActivityReport/delete',
      verifyActivityReport: 'ActivityReport/verify'
    }),

    redirectToEditPage(id) {
      this.$router.push({
        name: 'reports.activity_report_edit',
        params: { id },
      });
    },

    async deleteActivityReportHandler(id) {
      swal({
        title: 'Hapus laporan ini?',
        text: 'Tindakan ini tidak dapat diulang kembali',
        icon: 'warning',
        buttons: true,
        dangerMode: true,
      })
        .then(async (willDelete) => {
          if (willDelete) {
            this.loading = true;
            await this.deleteActivityReport(id);
            await this.fetchActivityReports();
            this.loading = false;
            swal('Laporan berhasil dihapus', {
              icon: 'success',
            });
          }
        });
    },

    async verifyActivityReportHandler(id) {
      swal({
        title: 'Verifikasi laporan ini?',
        text: 'Tindakan ini tidak dapat diulang kembali',
        icon: 'success',
        buttons: true,
      })
        .then(async (willVerify) => {
          if (willVerify) {
            this.loading = true;
            await this.verifyActivityReport(id);
            await this.fetchActivityReports();
            this.loading = false;
            swal('Laporan berhasil diverifikasi', {
              icon: 'success',
            });
          }
        });
    },
  },

  async mounted() {
    this.loading = true;
    await this.fetchActivityReports();
    this.loading = false;
  },
};
</script>
