<template>
  <vuetify-wrapper>
    <v-layout>
      <v-flex md12>
        <v-progress-linear
          v-if="loading || processing"
          indeterminate
        />
        <v-card v-if="!loading">
          <v-card-title>
            <h3 class="primary-title">INPUT LAPORAN LKPM</h3>
          </v-card-title>
          <v-card-text>
            <activity-report-form
              :company-types="companyTypes"
              :sectors="sectors"
              :cities="cities"
              v-model="activityReport"
              :on-submit="storeActivityReportHandler"
            />
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </vuetify-wrapper>
</template>

<script>
import { mapActions } from 'vuex';
import moment from 'moment';
import Http from '../../services/Http';
import ActivityReportForm from './ActivityReportForm';
import VuetifyWrapper from '../VuetifyWrapper'

export default {
  components: {
    ActivityReportForm,
    VuetifyWrapper
  },

  data: () => ({
    loading: true,
    processing: false,
    reportTypes: [],
    sectors: [],
    cities: [],
    activityReport: {
      quarter: 1,
      year: moment().format('YYYY'),
      company_name: null,
      date_of_registration: null,
      company_type_id: 1,
      business_field: '',
      sector_id: null,
      city_id: null,
      permit_number: null,
      additional_realization: 0,
      total_realization: 0,
      national_labors: 0,
      foreign_labors: 0,
    },
  }),

  methods: {
    ...mapActions({
      storeActivityReport: 'ActivityReport/store',
    }),

    fetchCompanyTypesHandler() {
      return new Promise((resolve, reject) => {
        const successCallback = (res) => {
          resolve(res.data);
        };

        const errorCallback = (err) => {
          reject(err);
        };

        Http.get('company-types', successCallback, errorCallback);
      });
    },

    fetchSectorsTypesHandler() {
      return new Promise((resolve, reject) => {
        const successCallback = (res) => {
          resolve(res.data);
        };

        const errorCallback = (err) => {
          reject(err);
        };

        Http.get('sectors', successCallback, errorCallback);
      });
    },

    fetchCitiesHandler() {
      return new Promise((resolve, reject) => {
        const successCallback = (res) => {
          resolve(res.data);
        };

        const errorCallback = (err) => {
          reject(err);
        };

        Http.get('cities', successCallback, errorCallback);
      });
    },

    async storeActivityReportHandler() {
      this.processing = true;
      await this.storeActivityReport(this.activityReport);
      this.processing = false;
      this.$router.push({ name: 'reports.activity_report_index' });
    },
  },

  async mounted() {
    this.loading = true;
    this.companyTypes = await this.fetchCompanyTypesHandler();
    this.sectors = await this.fetchSectorsTypesHandler();
    this.cities = await this.fetchCitiesHandler();
    this.loading = false;
  },
};
</script>
