<template>
  <form
    role="form"
    @submit="onSubmit"
  >
    <v-layout>
      <v-flex
        sm2
        mr-2
      >
        <v-select
          :disabled="disabled"
          label="Triwulan"
          :items="quarters"
          item-value="id"
          item-text="name"
          v-model="value.quarter"
          @input="$v.value.quarter.$touch"
        />
      </v-flex>
      <v-flex
        sm2
        ml-2
      >
        <v-text-field
          :disabled="disabled"
          type="number"
          label="Tahun"
          v-model="value.year"
          @input="$v.value.year.$touch"
        />
      </v-flex>
    </v-layout>
    <!-- Company Data -->
    <v-layout>
      <v-flex
        sm6
        mr-2
      >
        <v-text-field
          :disabled="disabled"
          label="Nama Perusahaan"
          v-model="value.company_name"
          @input="$v.value.company_name.$touch"
        />
      </v-flex>
      <v-flex
        sm6
        ml-2
      >
        <v-select
          :disabled="disabled"
          label="Jenis Perusahaan"
          :items="companyTypes"
          item-value="id"
          item-text="name"
          v-model="value.company_type_id"
          @input="$v.value.company_type_id.$touch"
        />
      </v-flex>
    </v-layout>
    <!-- Permission-related -->
    <v-divider />
    <h3 class="sub-section">Detail Izin</h3>
    <v-layout>
      <v-flex
        sm6
        mr-2
      >
        <v-text-field
          :disabled="disabled"
          label="Nomor Izin/NIB"
          v-model="value.permit_number"
          @input="$v.value.permit_number.$touch"
        />
        <v-select
          :disabled="disabled"
          label="Kota/Kabupaten"
          :items="cities"
          item-value="id"
          item-text="name"
          v-model="value.city_id"
          @input="$v.value.city_id.$touch"
        />
      </v-flex>
      <v-flex
        sm6
        ml-2
      >
        <v-menu
          lazy
          transition="scale-transition"
          offset-y
          full-width
          :nudge-right="40"
          max-width="290px"
          min-width="290px"
        >
          <v-text-field
            slot="activator"
            label="Tanggal Pendaftaran"
            v-model="value.date_of_registration"
            prepend-icon="event"
            readonly
          />
          <v-date-picker
            v-model="value.date_of_registration"
            no-title
            scrollable
            actions
          >
            <template slot-scope="{ save, cancel }">
              <v-card-actions>
                <v-spacer />
                <v-btn flat color="primary" @click="cancel">Batal</v-btn>
                <v-btn flat color="primary" @click="save">Simpan</v-btn>
              </v-card-actions>
            </template>
          </v-date-picker>
        </v-menu>
        <v-text-field
          :disabled="disabled"
          label="Bidang Usaha"
          v-model="value.business_field"
          @input="$v.value.business_field.$touch"
        />
        <v-select
          :disabled="disabled"
          label="Sektor"
          :items="sectors"
          item-value="id"
          item-text="name"
          v-model="value.sector_id"
          @input="$v.value.sector_id.$touch"
          autocomplete
        />
      </v-flex>
    </v-layout>
    <!-- Investment-related -->
    <v-divider />
    <h3 class="sub-section">Investasi</h3>
    <v-layout>
      <v-flex
        sm6
        mr-2
      >
        <v-text-field
          :disabled="disabled"
          label="Total Realisasi"
          v-model="value.total_realization"
          @input="$v.value.total_realization.$touch"
        />
        <v-text-field
          :disabled="disabled"
          type="number"
          label="TKI"
          v-model="value.national_labors"
          @input="$v.value.national_labors.$touch"
        />
      </v-flex>
      <v-flex
        sm6
        ml-2
      >
        <v-text-field
          :disabled="disabled"
          label="Realisasi Tambahan"
          v-model="value.additional_realization"
          @input="$v.value.additional_realization.$touch"
        />
        <v-text-field
          :disabled="disabled"
          type="number"
          label="TKA"
          v-model="value.foreign_labors"
          @input="$v.value.foreign_labors.$touch"
        />
      </v-flex>
    </v-layout>
    <v-btn
      :disabled="$v.$invalid || disabled"
      type="submit"
      color="primary"
    >
      Simpan
    </v-btn>
  </form>
</template>

<script>
import validator from '../../validators/activityReport';

export default {
  props: {
    disabled: {
      type: Boolean,
      default: false,
    },

    companyTypes: {
      type: Array,
      required: true,
    },

    sectors: {
      type: Array,
      required: true,
    },

    cities: {
      type: Array,
      required: true,
    },

    value: {
      type: Object,
      required: true,
    },

    onSubmit: {
      type: Function,
      required: true,
    },
  },

  data: () => ({
    quarters: [
      { id: 1, name: 'Triwulan I' },
      { id: 2, name: 'Triwulan II' },
      { id: 3, name: 'Triwulan III' },
      { id: 4, name: 'Triwulan IV' },
    ],
  }),

  validations: {
    value: validator,
  },

  watch: {
    value(val) {
      this.$emit('input', val);
    },
  },
};
</script>
