<template>
  <vuetify-wrapper>
    <v-layout>
      <v-flex
        md4
        pr-2
      >
        <v-card>
          <v-card-title class="pb-0">
            <h3 class="headline">
              <v-icon>assignment</v-icon>
              Laporan Izin
            </h3>
          </v-card-title>
          <v-card-text>
            <v-btn
              @click="$router.push({ name: 'reports.permission_report_index' })"
              block
              color="primary"
            >
              Daftar Laporan Izin
            </v-btn>
            <v-btn
              @click="$router.push({ name: 'reports.permission_report_create' })"
              block
              dark
              color="green"
            >
              Input Laporan Izin
            </v-btn>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex
        md4
        pl-2
        pr-2
      >
        <v-card>
          <v-card-title class="pb-0">
            <h3 class="headline">
              <v-icon>assignment</v-icon>
              Laporan LKPM
            </h3>
          </v-card-title>
          <v-card-text>
            <v-btn
              @click="$router.push({ name: 'reports.activity_report_index' })"
              block
              color="primary"
            >
              Daftar Laporan LKPM
            </v-btn>
            <v-btn
              @click="$router.push({ name: 'reports.activity_report_create' })"
              block
              dark
              color="green"
            >
              Input Laporan LKPM
            </v-btn>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex
        md4
        pl-2
      >
        <v-card>
          <v-card-title class="pb-0">
            <h3 class="headline">
              <v-icon>assessment</v-icon>
              Ekspor Laporan
            </h3>
          </v-card-title>
          <v-card-text>
            <v-btn
              @click="$router.push({ name: 'reports.generator' })"
              block
              color="primary"
            >
              Halaman Ekspor
            </v-btn>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </vuetify-wrapper>
</template>

<script>
import VuetifyWrapper from '../VuetifyWrapper'

export default {
  components: {
    VuetifyWrapper
  }
};
</script>
