<template>
  <vuetify-wrapper>
    <v-layout justify-center>
      <v-flex md6>
        <div style="text-align: center; margin-bottom: 32px;">
          <router-link :to="{ name: 'index' }">
            <img class="logo" src="../../../img/logo-2.png">
          </router-link>
          <br>
          <v-btn
            color="primary"
            small
            :to="{ name: 'tutorial' }"
          >
            <v-icon small>book</v-icon>
            Tutorial
          </v-btn>
          <v-btn
            color="primary"
            small
            :to="{ name: 'contact' }"
          >
            <v-icon small>call</v-icon>
            Contact
          </v-btn>
          <v-btn
            color="primary"
            small
            :to="{ name: 'login' }"
          >
            <v-icon small>person</v-icon>
            Masuk
          </v-btn>
        </div>
        <v-card class="stats-card">
          <v-toolbar
            color="primary"
            flat
            card
            dark
          >
            <v-toolbar-title>
              Kontak
            </v-toolbar-title>
          </v-toolbar>
          <v-card-text>
            <h3>DPMPTSP Kaltara</h3>
            <br>
            Jalan Rambutan
            Gedung Gabungan Dinas II (Lantai 1) Tanjung Selor, Provinsi Kalimantan Utara
            E-mail : bpmdptprov.kaltara@gmail.com
            <br>
            <br>
            <br>
            <h3>Pelayanan DPMPTSP Provinsi Kalimantan Utara</h3>
            <br>
            Senin - Kamis : 08:00 - 16:00 WITA
            Jum'at : 08:00 - 11:30 WITA
            Sabtu - Minggu : Tutup
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </vuetify-wrapper>
</template>

<script>
import VuetifyWrapper from '../VuetifyWrapper'

export default {
  components: {
    VuetifyWrapper
  }  
}
</script>

<style lang="scss">
.logo {
  max-width: 100%;
}
</style>
