<template>
  <v-layout justify-center>
    <v-flex md6>
      <div style="text-align: center; margin-bottom: 32px;">
        <router-link :to="{ name: 'index' }">
          <img class="logo" src="../../../img/logo-2.png">
        </router-link>
        <br>
        <v-btn
          color="primary"
          small
          :to="{ name: 'tutorial' }"
        >
          <v-icon small>book</v-icon>
          Tutorial
        </v-btn>
        <v-btn
          color="primary"
          small
          :to="{ name: 'contact' }"
        >
          <v-icon small>call</v-icon>
          Contact
        </v-btn>
        <v-btn
          color="primary"
          small
          :to="{ name: 'login' }"
        >
          <v-icon small>person</v-icon>
          Masuk
        </v-btn>
      </div>
      <v-card class="stats-card">
        <v-toolbar
          color="primary"
          flat
          card
          dark
        >
          <v-toolbar-title>
            Daftar Investasi Provinsi Kalimantan Utara
          </v-toolbar-title>
        </v-toolbar>
        <v-progress-linear
          v-if="isFetchingYearlyStats"
          :indeterminate="true"
        />
        <table
          v-else
          class="stats"
        >
          <tbody>
            <tr
              v-for="item in yearlyStats"
              :key="item[0]"
            >
              <td>Tahun {{ item[0] }}</td>
              <td class="text-xs-right">{{ item[1] | rupiah }}</td>
            </tr>
          </tbody>
        </table>
      </v-card>

      <v-card class="stats-card">
        <v-toolbar
          color="primary"
          flat
          card
          dark
        >
          <v-toolbar-title>
            Data Investasi Tahun 2019
          </v-toolbar-title>
        </v-toolbar>
        <v-progress-linear
          v-if="isFetchingQuarterlyStats"
          :indeterminate="true"
        />
        <table
          v-else
          class="stats"
        >
          <tbody>
            <tr
              v-for="item in quarterlyStats"
              :key="item[0]"
            >
              <td>Tahun {{ item[0] }}</td>
              <td class="text-xs-right">{{ item[1] | rupiah }}</td>
            </tr>
          </tbody>
        </table>
      </v-card>

      <v-card class="stats-card">
        <v-toolbar
          color="primary"
          flat
          card
          dark
        >
          <v-toolbar-title>
            Data Investasi Kabupaten Kota
          </v-toolbar-title>
        </v-toolbar>
        <v-progress-linear
          v-if="isFetchingCitiesStats"
          :indeterminate="true"
        />
        <table
          v-else
          class="stats"
        >
          <tbody>
            <tr
              v-for="item in citiesStats"
              :key="item[0]"
            >
              <td>Tahun {{ item[0] }}</td>
              <td class="text-xs-right">{{ item[1] | rupiah }}</td>
            </tr>
          </tbody>
        </table>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import Http from '../../services/Http'
import { rupiah } from '../../lib/currency'

export default {
  filters: {
    rupiah
  },

  data () {
    return {
      isFetchingYearlyStats: false,
      yearlyStats: [],

      isFetchingQuarterlyStats: false,
      quarterlyStats: [],

      isFetchingCitiesStats: false,
      citiesStats: []
    }
  },

  mounted () {
    this.fetchYearlyStats()
    this.fetchQuarterlyStats()
    this.fetchCitiesStats()
  },

  methods: {
    fetchYearlyStats () {
      return new Promise((resolve, reject) => {
        const successCallback = (res) => {
          this.yearlyStats = Object.entries(res.data)
          this.isFetchingYearlyStats = false
        }

        const errorCallback = () => {
          this.isFetchingYearlyStats = false
        }

        this.isFetchingYearlyStats = true
        Http.post('/stats/yearly', {}, successCallback, errorCallback)
      })
    },

    fetchQuarterlyStats () {
      return new Promise((resolve, reject) => {
        const successCallback = (res) => {
          this.quarterlyStats = Object.entries(res.data)
          this.isFetchingQuarterlyStats = false
        }

        const errorCallback = () => {
          this.isFetchingQuarterlyStats = false
        }

        this.isFetchingQuarterlyStats = true
        Http.post('/stats/quarterly', {}, successCallback, errorCallback)
      })
    },

    fetchCitiesStats () {
      return new Promise((resolve, reject) => {
        const successCallback = (res) => {
          this.citiesStats = Object.entries(res.data)
          this.isFetchingCitiesStats = false
        }

        const errorCallback = () => {
          this.isFetchingCitiesStats = false
        }

        this.isFetchingCitiesStats = true
        Http.post('/stats/cities', {}, successCallback, errorCallback)
      })
    }
  }
}
</script>

<style lang="scss">
.logo {
  max-width: 100%;
}

.stats-card {
  margin-bottom: 24px;
}

.stats {
  width: 100%;

  tbody {
    tr {
      td {
        padding: 16px;
        border-bottom: 1px solid #ccc;
      }
    }

    tr:last-child {
      td {
        border-bottom: none;
      }
    }
  }
}
</style>
