<template>
  <vuetify-wrapper>
    <v-layout justify-center>
      <v-flex md6>
        <div style="text-align: center; margin-bottom: 32px;">
          <router-link :to="{ name: 'index' }">
            <img class="logo" src="../../../img/logo-2.png">
          </router-link>
          <br>
          <v-btn
            color="primary"
            small
            :to="{ name: 'tutorial' }"
          >
            <v-icon small>book</v-icon>
            Tutorial
          </v-btn>
          <v-btn
            color="primary"
            small
            :to="{ name: 'contact' }"
          >
            <v-icon small>call</v-icon>
            Contact
          </v-btn>
          <v-btn
            color="primary"
            small
            :to="{ name: 'login' }"
          >
            <v-icon small>person</v-icon>
            Masuk
          </v-btn>
        </div>
        <v-card class="stats-card">
          <v-toolbar
            color="primary"
            flat
            card
            dark
          >
            <v-toolbar-title>
              Tutorial
            </v-toolbar-title>
          </v-toolbar>
          <v-card-text>
            Tutorial here.
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </vuetify-wrapper>
</template>

<script>
import VuetifyWrapper from '../VuetifyWrapper'

export default {
  components: {
    VuetifyWrapper
  }  
}
</script>

<style lang="scss">
.logo {
  max-width: 100%;
}
</style>
