<template>
  <vuetify-wrapper>
    <v-layout>
      <v-flex md12>
        <v-progress-linear
          v-if="loading"
          indeterminate
        />
        <v-card v-if="!loading">
          <v-card-title>
            <h3 class="primary-title">DAFTAR PERUSAHAAN</h3>
            <v-spacer />
            <v-text-field
              append-icon="search"
              label="Pencarian"
              single-line
              hide-details
              v-model="keywords"
            />
          </v-card-title>
          <v-data-table
            :headers="tableHeaders"
            :items="permissionReports"
            :search="keywords"
          >
            <template
              slot="items"
              slot-scope="props"
            >
              <td v-html="props.item.company_name" />
              <td v-html="props.item.sector.name" />
              <td class="text-xs-right">
                <v-btn
                  @click="redirectToEditPage(props.item.id)"
                  color="primary"
                  small
                >
                  Edit
                </v-btn>
                <v-btn
                  @click="deletePermissionReportHandler(props.item.id)"
                  color="red"
                  dark
                  small
                >
                  Hapus
                </v-btn>
              </td>
            </template>
          </v-data-table>
        </v-card>
      </v-flex>
    </v-layout>
  </vuetify-wrapper>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import swal from 'sweetalert';
import VuetifyWrapper from '../VuetifyWrapper'

export default {
  components: {
    VuetifyWrapper
  },

  data: () => ({
    loading: true,
    keywords: null,
    tableHeaders: [
      { text: 'Perusahaan', align: 'left', sortable: true, value: 'company_name' },
      { text: 'Sektor', align: 'left', sortable: true, value: 'sector.name' },
      { text: 'Tindakan', align: 'right', sortable: false, value: null },
    ],
  }),

  computed: {
    ...mapState({
      permissionReports: state => state.PermissionReport.data,
    }),
  },

  methods: {
    ...mapActions({
      fetchPermissionReports: 'PermissionReport/fetchAll',
      deletePermissionReport: 'PermissionReport/delete',
    }),

    redirectToEditPage(id) {
      this.$router.push({
        name: 'reports.permission_report_edit',
        params: { id },
      });
    },

    async deletePermissionReportHandler(id) {
      swal({
        title: 'Hapus laporan ini?',
        text: 'Tindakan ini tidak dapat diulang kembali',
        icon: 'warning',
        buttons: true,
        dangerMode: true,
      })
        .then(async (willDelete) => {
          if (willDelete) {
            this.loading = true;
            await this.deletePermissionReport(id);
            await this.fetchPermissionReports();
            this.loading = false;
            swal('Laporan berhasil dihapus', {
              icon: 'success',
            });
          }
        });
    },
  },

  async mounted() {
    this.loading = true;
    await this.fetchPermissionReports();
    this.loading = false;
  },
};
</script>
