<template>
  <form
    role="form"
    @submit="onSubmit"
  >
    <v-layout>
      <v-flex
        sm2
        ml-2
      >
        <v-select
          :disabled="disabled"
          label="Triwulan"
          :items="quarters"
          item-value="id"
          item-text="name"
          v-model="value.quarter"
          @input="$v.value.quarter.$touch"
        />
      </v-flex>
      <v-flex
        sm2
        ml-2
      >
        <v-text-field
          :disabled="disabled"
          type="number"
          label="Tahun"
          v-model="value.year"
          @input="$v.value.year.$touch"
        />
      </v-flex>
    </v-layout>
    <!-- Company Data -->
    <v-layout>
      <v-flex
        sm6
        mr-2
      >
        <v-text-field
          :disabled="disabled"
          label="Nama Perusahaan"
          v-model="value.company_name"
          @input="$v.value.company_name.$touch"
        />
        <v-text-field
          :disabled="disabled"
          label="No. Telpon"
          v-model="value.company_phone"
          @input="$v.value.company_phone.$touch"
          maxlength="12"
        />
      </v-flex>
      <v-flex
        sm6
        ml-2
      >
        <v-select
          :disabled="disabled"
          label="Jenis Perusahaan"
          :items="companyTypes"
          item-value="id"
          item-text="name"
          v-model="value.company_type_id"
          @input="$v.value.company_type_id.$touch"
        />
        <v-text-field
          :disabled="disabled"
          label="Alamat Perusahaan"
          v-model="value.company_address"
          @input="$v.value.company_address.$touch"
        />
      </v-flex>
    </v-layout>
    <!-- Permission-related -->
    <v-divider />
    <h3 class="sub-section">Detil Izin</h3>
    <v-layout>
      <v-flex
        sm6
        mr-2
      >
        <v-text-field
          :disabled="disabled"
          v-if="value.report_type_id === 1"
          label="Nomor Izin Prinsip"
          v-model="value.principle_permit_number"
          @input="$v.value.principle_permit_number.$touch"
        />
        <v-text-field
          :disabled="disabled"
          v-if="value.report_type_id === 2"
          label="Nomor Izin Usaha"
          v-model="value.business_permit_number"
          @input="$v.value.business_permit_number.$touch"
        />
        <v-text-field
          :disabled="disabled"
          label="Bidang Usaha"
          v-model="value.business_field"
          @input="$v.value.business_field.$touch"
        />
        <v-text-field
          :disabled="disabled"
          label="Lokasi Proyek"
          v-model="value.location"
          @input="$v.value.location.$touch"
        />
      </v-flex>
      <v-flex
        sm6
        ml-2
      >
        <v-menu
          lazy
          transition="scale-transition"
          offset-y
          full-width
          :nudge-right="40"
          max-width="290px"
          min-width="290px"
        >
          <v-text-field
            slot="activator"
            label="Tanggal Disetujui"
            v-model="value.date_of_approval"
            prepend-icon="event"
            readonly
          />
          <v-date-picker
            v-model="value.date_of_approval"
            no-title
            scrollable
            actions
          >
            <template slot-scope="{ save, cancel }">
              <v-card-actions>
                <v-spacer />
                <v-btn flat color="primary" @click="cancel">Batal</v-btn>
                <v-btn flat color="primary" @click="save">Simpan</v-btn>
              </v-card-actions>
            </template>
          </v-date-picker>
        </v-menu>
        <v-select
          :disabled="disabled"
          label="Sektor"
          :items="sectors"
          item-value="id"
          item-text="name"
          v-model="value.sector_id"
          @input="$v.value.sector_id.$touch"
          autocomplete
        />
        <v-select
          :disabled="disabled"
          label="Kota/Kabupaten"
          :items="cities"
          item-value="id"
          item-text="name"
          v-model="value.city_id"
          @input="$v.value.city_id.$touch"
        />
      </v-flex>
    </v-layout>
    <!-- Investment-related -->
    <v-divider />
    <h3 class="sub-section">Investasi</h3>
    <v-text-field
      :disabled="disabled"
      label="Jumlah Investasi"
      v-model="value.amount_of_investment"
      @input="$v.value.amount_of_investment.$touch"
    />
    <v-layout>
      <v-flex
        sm6
        mr-2
      >
        <v-text-field
          :disabled="disabled"
          type="number"
          label="TKI"
          v-model="value.national_labors"
          @input="$v.value.national_labors.$touch"
        />
      </v-flex>
      <v-flex
        sm6
        ml-2
      >
        <v-text-field
          :disabled="disabled"
          type="number"
          label="TKA"
          v-model="value.foreign_labors"
          @input="$v.value.foreign_labors.$touch"
        />
      </v-flex>
    </v-layout>
    <v-select
      :disabled="disabled"
      label="Status LKPM"
      :items="lkpm_statuses"
      item-value="id"
      item-text="name"
      v-model="value.lkpm_status"
    />
    <v-btn
      :disabled="$v.$invalid || disabled"
      type="submit"
      color="primary"
    >
      Simpan
    </v-btn>
  </form>
</template>

<script>
import validator from '../../validators/permissionReport';

export default {
  props: {
    disabled: {
      type: Boolean,
      default: false,
    },

    reportTypes: {
      type: Array,
      required: true,
    },

    companyTypes: {
      type: Array,
      required: true,
    },

    sectors: {
      type: Array,
      required: true,
    },

    cities: {
      type: Array,
      required: true,
    },

    value: {
      type: Object,
      required: true,
    },

    onSubmit: {
      type: Function,
      required: true,
    },
  },

  data: () => ({
    quarters: [
      { id: 1, name: 'Triwulan I' },
      { id: 2, name: 'Triwulan II' },
      { id: 3, name: 'Triwulan III' },
      { id: 4, name: 'Triwulan IV' },
    ],
    lkpm_statuses: [
      { id: false, name: 'Tidak Lengkap' },
      { id: true, name: 'Lengkap' },
    ],
  }),

  validations: {
    value: validator,
  },

  watch: {
    value(val) {
      this.$emit('input', val);
    },
  },
};
</script>
