<template>
  <vuetify-wrapper>
    <v-layout>
      <v-flex md12>
        <v-progress-linear
          v-if="loading || processing"
          indeterminate
        />
        <v-card v-if="!loading">
          <v-card-title>
            <h3 class="primary-title">EDIT DATA PERUSAHAAN</h3>
          </v-card-title>
          <v-card-text>
            <permission-report-form
              :disabled="processing"
              :report-types="reportTypes"
              :company-types="companyTypes"
              :sectors="sectors"
              :cities="cities"
              v-model="permissionReport"
              :on-submit="updatePermissionReportHandler"
            />
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </vuetify-wrapper>
</template>

<script>
import { mapActions } from 'vuex';
import moment from 'moment';
import Http from '../../services/Http';
import PermissionReportForm from './PermissionReportForm';
import VuetifyWrapper from '../VuetifyWrapper'

export default {
  components: {
    PermissionReportForm,
    VuetifyWrapper
  },

  data: () => ({
    loading: true,
    processing: false,
    reportTypes: [],
    companyTypes: [],
    sectors: [],
    cities: [],
    permissionReport: {
      id: null,
      report_type_id: 1,
      quarter: 1,
      year: moment().format('YYYY'),
      date_of_approval: moment().format('YYYY-MM-DD'),
      company_name: null,
      company_phone: null,
      company_type_id: 1,
      business_field: null,
      sector_id: null,
      location: null,
      city_id: null,
      principle_permit_number: null,
      business_permit_number: null,
      amount_of_investment: 0,
      national_labors: 0,
      foreign_labors: 0,
      lkpm_status: false,
    },
  }),

  methods: {
    ...mapActions({
      updatePermissionReport: 'PermissionReport/update',
    }),

    fetchReportTypesHandler() {
      return new Promise((resolve, reject) => {
        const successCallback = (res) => {
          resolve(res.data);
        };

        const errorCallback = (err) => {
          reject(err);
        };

        Http.get('report-types', successCallback, errorCallback);
      });
    },

    fetchCompanyTypesHandler() {
      return new Promise((resolve, reject) => {
        const successCallback = (res) => {
          resolve(res.data);
        };

        const errorCallback = (err) => {
          reject(err);
        };

        Http.get('company-types', successCallback, errorCallback);
      });
    },

    fetchSectorsTypesHandler() {
      return new Promise((resolve, reject) => {
        const successCallback = (res) => {
          resolve(res.data);
        };

        const errorCallback = (err) => {
          reject(err);
        };

        Http.get('sectors', successCallback, errorCallback);
      });
    },

    fetchCitiesHandler() {
      return new Promise((resolve, reject) => {
        const successCallback = (res) => {
          resolve(res.data);
        };

        const errorCallback = (err) => {
          reject(err);
        };

        Http.get('cities', successCallback, errorCallback);
      });
    },

    fetchPermissionReportHandler() {
      return new Promise((resolve, reject) => {
        const { id } = this.$route.params;

        const successCallback = (res) => {
          resolve(res.data);
        };

        const errorCallback = (err) => {
          reject(err);
        };

        Http.get(`permission-reports/${id}`, successCallback, errorCallback);
      });
    },

    async updatePermissionReportHandler() {
      this.processing = true;
      await this.updatePermissionReport(this.permissionReport);
      this.processing = false;

      this.$router.push({ name: 'reports.permission_report_index' });
    },
  },

  async mounted() {
    this.loading = true;
    this.reportTypes = await this.fetchReportTypesHandler();
    this.companyTypes = await this.fetchCompanyTypesHandler();
    this.sectors = await this.fetchSectorsTypesHandler();
    this.cities = await this.fetchCitiesHandler();
    this.permissionReport = await this.fetchPermissionReportHandler();
    this.loading = false;
  },
};
</script>
