<template>
  <vuetify-wrapper>
    <v-layout
      align-center
      justify-center
    >
      <v-flex md4>
        <v-card>
          <v-card-text>
            <span
              v-if="errors.wrongCredentials"
              class="wrong-credentials red--text"
            >
              Nama pengguna/kata sandi salah
            </span>
            <form
              role="form"
              @submit="authenticationHandler"
            >
              <v-text-field
                prepend-icon="person"
                label="Nama pengguna"
                v-model="username"
              />
              <v-text-field
                type="password"
                prepend-icon="lock"
                label="Kata sandi"
                v-model="password"
              />
              <v-btn
                large
                block
                color="primary"
                type="submit"
              >
                Masuk
              </v-btn>
            </form>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </vuetify-wrapper>
</template>

<script>
import VuetifyWrapper from '../VuetifyWrapper'
import Auth from '../../services/Auth';

export default {
  components: {
    VuetifyWrapper
  },

  data: () => ({
    username: null,
    password: null,
    errors: {
      wrongCredentials: false,
    },
  }),

  watch: {
    username() {
      this.errors.wrongCredentials = false;
    },

    password() {
      this.errors.wrongCredentials = false;
    },
  },

  methods: {
    authenticationHandler(e) {
      e.preventDefault();

      Auth.authenticate(this.username, this.password)
        .then(() => {
          this.$router.push({ name: 'dashboard' });
        })
        .catch((err) => {
          if (err.data === 'wrong_credentials') {
            this.errors.wrongCredentials = true;
          }
        });
    },
  },
};
</script>

<style>
.wrong-credentials {
  display: block;
  text-align: center;
}
</style>

